<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Crear Post</title>

    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-gray-100">

    <div class="max-w-2xl mx-auto mt-10 bg-white rounded-xl shadow p-8">

        <h1 class="text-3xl font-bold mb-6">

            Crear publicación

        </h1>

        <form method="POST">

            <input type="text" name="title" placeholder="Título" class="w-full border p-3 rounded mb-4">

            <textarea name="content" placeholder="Contenido" class="w-full border p-3 rounded h-52 mb-4"></textarea>

            <button class="bg-blue-500 text-white px-6 py-3 rounded">
                Publicar
            </button>

        </form>

    </div>

</body>

</html>